  body { 
  max-width: 100%;
  height: auto; 
  background-image: url("../img/1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
        font-family: Arial, sans-serif;      
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

      

    form {
      background: lightblue;
      background-size: 100%; 
      padding: 25px 30px;
      border-radius: 12px;
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
      width: 340px;
    }

    

    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #333;
    }

    .form-control {
      margin-bottom: 20px;
      position: relative;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 10px;
      font-size: 14px;
      border: 1px solid #ccc;
      border-radius: 6px;
      outline: none;
    }

    input:focus {
      border-color: #007bff;
    }

    .toggle {
      position: absolute;
      top: 36px;
      right: 10px;
      cursor: pointer;
      color: #555;
    }

    .error {
      font-size: 13px;
      color: red;
      margin-top: 5px;
      display: none;
    }

   

    button {
      width: 100%;
      background: yellowgreen;
      color: white;
      padding: 10px;
      border: none;
      border-radius: 6px;
      font-size: 16px;
      font-weight: 800;
      cursor: pointer;
      
    }

    button:hover {
      background: green;
    }

    .success {
      border-color: green;
    }

    .invalid {
      border-color: red;
    }

    @media (max-width: 800px) {
      body{
         max-width: 80%;
         height: auto; 
         background-size: 100%;
        font-size: 12px;
      }
      .form-control {
      
     font-size: 12px;
    }
  }



   